<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebserviceDeBallenstampersSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56609/WebserviceDeBallenstampers.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebserviceDeBallenstampersSoap"
                contract="DeBallenstampersSerRef.WebserviceDeBallenstampersSoap"
                name="WebserviceDeBallenstampersSoap" />
        </client>
    </system.serviceModel>
</configuration>